body {
    background-color: #72D2BF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
* {
    box-sizing: border-box;
}
#cadastro {
    background-color: #519789;
    width: 60%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
#cadastro input, select, button {
    width: 90%;
    padding: 15px;
    margin: 8px;
}
